<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Terminus Gateway Access - Olympus</title>
  <link rel="icon" type="image/png" href="../olympic.png"/> <!-- You will need to provide an Olympus-themed favicon -->
  <link rel="stylesheet" type="text/css" href="../static/css/proxy-olympus.css">
  <script>
    function validateLogin() {
      var username = document.getElementById('login').value;
      var password = document.getElementById('password').value;
      if(username === 'AgentNil' && password === 'HermesIsAwesome') {
        // Slide away and hide the login container
        var container = document.querySelector('.container');
        container.style.transform = 'translateX(-100vw)';
        container.style.transition = 'transform 0.5s ease-in-out';
        setTimeout(function() {
          container.style.display = 'none';
        }, 500); // Wait for the transition to finish
      } else {
        alert('Incorrect login details.');
      }
    }
  </script>
</head>
<body>
<div class="container">
  <div class="header">
    <h1>OLYMPIC ACCESS PROXY</h1>
  </div>
  <div class="login-area">
    <div class="input-group">
      <label for="login">Login</label>
      <input type="text" id="login" name="login">
    </div>
    <div class="input-group">
      <label for="password">Password</label>
      <input type="password" id="password" name="password">
    </div>
    <button class="send-btn" onclick="validateLogin()">SEND</button>
  </div>
</div>
</body>
</html>
