body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.app-container {
    display: flex;
    max-width: 1000px; /* Adjusted for a wider layout */
    margin: auto;
    height: 100vh; /* Full height */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.sidebar {
    width: 20%; /* Sidebar takes 20% of the container width */
    background-color: #eae0c8; /* Marble background */
    padding: 20px;
    box-shadow: 2px 0px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Space between profile and footer */
}

.player-info {
    text-align: center;
}

.player-icon {
    width: 80px; /* Adjusted for a more compact look */
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.main-content {
    width: 60%; /* Main content takes 60% of the container width */
    overflow-y: auto; /* Enables scrolling if content is too long */
}

.app-header, .site-nav {
    background-color: #eae0c8; /* Marble background for consistency */
    padding: 10px 20px; /* More padding for better spacing */
    display: flex;
    justify-content: space-between; /* Space between logo and nav */
    align-items: center;
    position: sticky; /* Header sticks to the top when scrolling */
    top: 0;
}

.site-nav ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.site-nav li {
    margin-right: 20px;
}

.site-nav a {
    color: #8d6e63; /* Earthy tone for links */
    text-decoration: none;
    font-weight: bold;
}

.feed {
    padding: 20px;
}

.post {
    background-color: #ffffff;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.post-header {
    padding: 10px;
    background-color: #f5f5dc; /* Cream header */
    display: flex;
    align-items: center;
    justify-content: space-between; /* Space between text and buttons */
}

.post-image {
    width: 100%;
    display: block;
}

.post-footer {
    padding: 10px;
    background-color: #f5f5dc; /* Cream footer */
    display: flex;
    justify-content: space-between;
}

.follow-btn, .like-btn, .love-btn, .praise-btn {
    background: none;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: bold;
    color: #8d6e63; /* Earthy tone for buttons */
}

.post-stats {
    font-size: 0.9em;
    color: #666;
}

/* Additional styles */
.right-side {
    width: 20%; /* Right-side content takes 20% of the container width */
    background-color: #eae0c8; /* Marble background */
    padding: 20px;
    box-shadow: -2px 0px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: start;
}

/* Ensure the footer is always at the bottom */
.sidebar-footer {
    margin-top: auto;
}
